.EpisodeForm{
  &__Top {
    margin: 24px 0;
  }
  &__Heading {
    position: relative;
    padding-left: 32px;
  }

  &__HeadingIcon {
    top: 0;
    left: 0;
    color: red;
    position:  absolute;
  }

  &__HeadingText{}

  &__ProgressBar{
    margin-top: 33px;
  }
  &__Body{}

}
