

.Modal {
	// @bem-ignore
	.ReactModal {
		&__Content {
			height: 100%;
		}
	}
	&__Overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2000;

		opacity: 0;
		background-color: blue;
		transition: all 0.5s ease 0s;

		// @bem-ignore
		&.ReactModal__Overlay--after-open {
			opacity: 1;
			.Modal__Content {
				transform: translateX(0%);
				opacity: 1;
			}
		}
	}
	&__Content {
		background: white;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		transition: all 0.3s ease 0.15s;
		transform: translateX(50%);
		opacity: 0;
		width: 100%;
		// @include media-breakpoint-up(sm) {
		// 	width: 336px;
		// }
	}
	&__InnerScrollbar {
		padding: 24px;
		// @include media-breakpoint-down(sm) {
		// 	padding: 16px;
		// }
	}
	&__Close {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 18px;
		height: 18px;
		font-size: 15px;
		cursor: pointer;
	}
}
.Modal {
	&__Overlay--error {
		z-index: 1000;
	}
}
.Modal--popup {
	height: 100%;
	overflow: scroll;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	// flex + auto margin allows flex vertical center without overflow clipping
	// caused by justify-content/align-items

	.Modal {
		&__Content {
			margin: auto; // use with flex parent for overflow centering
			position: static;
			width: auto;
			height: auto;
			transform: translateX(0%);

			// default is medium
			width: 80vw;

			@media screen and (max-width: 360px) {
				width: 90vw;
			}

			@media screen and (min-width: 768px) {
				width: 450px;
			}
		}
	}
}

.Modal--small {
	.Modal {
		&__Content {
			width: 320px;

			@media screen and (max-width: 360px) {
				width: 90vw;
			}
		}
	}
}

.Modal--medium {
	.Modal {
		&__Content {
			width: 80vw;

			@media screen and (max-width: 360px) {
				width: 90vw;
			}

			@media screen and (min-width: 768px) {
				width: 450px;
			}
		}
	}
}

.Modal--large {
	.Modal {
		&__Content {
			width: 80vw;

			@media screen and (max-width: 360px) {
				width: 90vw;
			}

			@media screen and (min-width: 768px) {
				width: 700px;
			}
		}
	}
}
