.modal{
  &-container{
    position: relative;
    height: 100%;
    width: 100%;
    top: calc(50% - 20vh);
    right: calc(50% - 20vw);
    display: none;
    z-index: 100;
    background-color: rgba(0, 0.4,0,0.4);
    &--open{
      display: block;
    }
    &--closed{
      display: none;
    }
  }
  &-contents{
    position: absolute;
    height: 40%;
    width: 40%;
    top: calc(30%);
    right: calc(30%);
  }
}
